@{
    Layout = "Layout.cshtml";
}

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>الرئسيسة</a></div>
    </div>
</div>

