<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wrappixel.com/demos/free-admin-templates/matrix-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Jul 2018 12:14:26 GMT -->
<head>
    <title>تسجيل الدخول</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/css/bootstrap.min.css" />
    <link rel="stylesheet" href="src/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="src/css/matrix-login.css" />
    <link href="src/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <style>
        h1 {
            text-align: center;
            margin: 204px 0px;
            color: white;
            font-size: 100px;
        }
    </style>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <h1>قريبا</h1>
        
    <script src="src/js/jquery.min.js"></script>
    <script src="src/js/matrix.login.js"></script>
</body>

<!-- Mirrored from wrappixel.com/demos/free-admin-templates/matrix-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Jul 2018 12:14:27 GMT -->
</html>
