<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wrappixel.com/demos/free-admin-templates/matrix-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Jul 2018 12:14:26 GMT -->
<head>
    <title>التسجيل</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/css/bootstrap.min.css" />
    <link rel="stylesheet" href="src/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="src/css/matrix-login.css" />
    <link href="src/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id="loginbox"style="width: 49%;">
        <form id="loginform" class="form-vertical">
            <div class="control-group normal_text"> <h3>التسجيل</h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSc-lXSSrcjUBI_fxExYEboY7W_5DFtshHeJQdlJjSt3tFl3gw/viewform">دبلوم السلامة والصحة المهنية</a>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span><a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSc-lXSSrcjUBI_fxExYEboY7W_5DFtshHeJQdlJjSt3tFl3gw/viewform">تدريب مدربي السلامة والصحة مهنية</a></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span><a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSc-lXSSrcjUBI_fxExYEboY7W_5DFtshHeJQdlJjSt3tFl3gw/viewform">برنامج السلامة الهندسية للوقاية والحماية من الحريق</a></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span><a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSc-lXSSrcjUBI_fxExYEboY7W_5DFtshHeJQdlJjSt3tFl3gw/viewform">مجموعة بوشا التدريبية</a></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="src/js/jquery.min.js"></script>
    <script src="src/js/matrix.login.js"></script>
</body>

<!-- Mirrored from wrappixel.com/demos/free-admin-templates/matrix-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Jul 2018 12:14:27 GMT -->
</html>
