@{
    Layout = "Layout.cshtml";
    Page.Title = "من نحن";
    Page.Name = "من نحن";
    Page.About = "active";
}
<div id="fh5co-team">
    <div class="container">
        <div class="row animate-box row-pb-md text-right rtl">
            <div class='col-md-4 col-sm-12'>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home">رسالتنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">رؤيتنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact">قيمنا</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">إن من أولويات رسالة ( POSHA ) توفير التعليم والتدريب المهني للشباب السعودي بأعلى مستوى من الكفاءة المهنية للعمل في المنشآت والمصانع وجميع القطاعات التي تتطلب وجود مثل هذه النخبة ’ والتي ستكون البذرة الأولى لخلق ثقافة جديدة في المجتمع السعودي تعطي السلامة المكانة المرموقة التي يجب أن تكون عليها لما فيه خير للجميع ’ وأن يكون معهد سلامة المشاريع العالي ( POSHA ) المرجع الأهم للذين يودون إستكمال أبحاثهم والدراسة في مجال الصحة والسلامة المهنية .</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">أن يكون معهـد سـلامـة المـشاريـع العالـي للتدريب ( POSHA ) معياراً أساسياً في مجال السلامة في الوطن العربي ومقياساً لتحقيق الأمن والأمان .</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        1- الجودة في التنفيذ والتعامل مع الظروف .<br />
                        2- العمل الجماعي ودعم المبادرة .<br />
                        3- الإبداع والإيمان بالتغيير .<br />
                        4- تطبيق أعلى معايير السلامة والجودة .
                    </div>
                </div>
            </div>
            <div class='col-md-8 col-sm-12'>
                <p>
                    بوشا اكاديمية محلية ودولية تعمل في مجال الصحة والسلامة المهنية لتخريج
                    مشرفي صحة وسلامة مهنية قادرين على وضع الأسس والأنظمة والتعليمات بناء على معايير محلية ودولية من اجل توعية وتدريب وتطوير ثقافة
                    السلامة لديهم وهذه العناصر هي اساس لخلق بيئة آمنة خالية من المخاطر وتعمل على المحافظة على حياة الإنسان وممتلكاته. بوشا
                    اكاديمية لها منهجيتها الخاصة التي تم وضعها حسب المعايير البيئية للفئات المستهدفة ضمن المعايير الدولية لتعمل على
                    تسهيل فهم الأهداف التي من اجلها يتم تطبيق شروط السلامة وتنفيذ العمل ضمن التعليمات والمعايير التي تضمن عدم وقوع
                    حوادث داخل مواقع العمل. بوشا أكاديمية تنفذ عملها من خلال مدريبين محترفين حاصلين على اعلى الشهادات العلمية
                    والتدريبية كما تعمل بوشا على تطوير مهارات مدربيها من اجل ضمان جودة التدريب ضمن معايير التدريب العالمية
                    والمحلية. بوشا أكاديمية قامت بوضع مناهج تعليمية وتدريبية خاصه بالأكاديمية جمعت بين المتطلبات العالمية
                    للمعلومة التي يحتاجها المتدرب وبما تتلائم مع البيئة المحلية لمفهوم المناهج والحقائب التدريبية. بوشا
                    أكاديمية لها انظمتها الخاصة في التسجيل والقبول واختيار المتدريبن ضمن معايير تلبي متطلبات مهنة مشرف
                    صحة وسلامة مهنية لتضمن تعزيز دور إدارة الصحة والسلامة المهنية بجميع القطاعات العامة والخاصة.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md">
            <div class="col-md-10 col-md-offset-2 text-right fh5co-heading">
                <h2>لماذا نختار بوشا ؟</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box text-center rtl">
                <div class="testimonial">
                    <blockquote>
                        <h2>مدربين محترفين</h2>
                        <img src="src/images/Icons/learning.png" width="40%">
                        <p>يتولى مدربين محترفين في مجال الصحة والسلامة المهنية ومن خلال المنهاج المتخصص والذي يحتوي على المادة العلمية ووسائل توضيحية وافلام تم تصميمها لتلبي متطلبات التدريب بتقديم البرنامج التخصصي بطريقة تساعد جميع المتدربين على فهم واستيعاب جميع مراحل البرنامج.</p>

                    </blockquote>
                </div>
                <div class="testimonial fh5co-selected">
                    <blockquote>
                        <h2 class="white">تقييم المتدربين</h2>
                        <img src="src/images/Icons/checking.png" width="40%">
                        <p>يقوم المدربين بعمل تقييم للمتدربين من اجل وضع خطة تدريبية تتلائم مع مستوى المتدربين للتدرج في تقديم المعلومات حسب المستوى الفعلي للمتدربين. وهذه الإستراتيجية تعمل على ضمان استيعاب جميع الطلاب للمادة العلمية لتحقيق الهدف من التدريب.</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 animate-box text-center rtl">
                <div class="testimonial fh5co-selected">
                    <blockquote>
                        <h2 class="white">مواد إضافية</h2>
                        <img src="src/images/Icons/more.png" width="40%">
                        <p>يضمن المعهد من خلال المواد الإضافية لمادة التخصص والتي تم تصميمها لتتلائم مع مادة التخصص بالإضافة الى دورات صقل المهارات التي يتلقاها المتدرب اثناء فترة الدراسة التدريبية في المعهد الى تطوير مهارات المتدربين الأساسية في التواصل وزيادة المعرفة.</p>
                    </blockquote>
                </div>
                <div class="testimonial">
                    <blockquote>
                        <h2>مرجعية دائمة</h2>
                        <img src="src/images/Icons/folder.png" width="40%">
                        <p>يحتفظ المعهد بكم كبير من المعلومات والمعرفة التي يحتاجها المتدرب كمراجع اساسية وذلك من خلال المكتبة والمكتبة الرقمية المتوفرة في المعهد من خلال شركاء المعهد الإستراتجيين في داخل المملكة وخارجها</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="text-center fh5co-heading">
                <span>لنعمل معا</span>
                <h2>عملائنا وشركائنا</h2>
                <div class="customer-logos">
                    <div class="slide"><img src="src/images/Clints/sec.png"></div>
                    <div class="slide"><img src="src/images/Clints/Lulu.png"></div>
                    <div class="slide"><img src="src/images/Clints/Almarai.png"></div>
                    <div class="slide"><img src="https://www.solodev.com/assets/carousel/image4.png"></div>
                    <div class="slide"><img src="https://www.solodev.com/assets/carousel/image5.png"></div>
                    <div class="slide"><img src="https://www.solodev.com/assets/carousel/image6.png"></div>
                    <div class="slide"><img src="https://www.solodev.com/assets/carousel/image7.png"></div>
                    <div class="slide"><img src="https://www.solodev.com/assets/carousel/image8.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
