@{
    Layout = "Layout.cshtml";
    Page.Title = "الإعتمادات";
    Page.Name = "الإعتمادات";
    Page.About = "active";
    Page.Accre = "avtive";
}
<div id="fh5co-team">
    <div class="container">
        <div class="row text-right rtl">
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>IADC Drilling Industry Training (DIT) Accreditation System</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/iadc-dit.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is accredited by IADC DIT Accreditation System to conduct a series of safety training programs. DIT system is applicable to all industries and not limited to oil and gas industries. This accreditation assures our customers that our training processes, training materials, training quality and instructor qualifications meet the international standards set by IADC. IADC is an association and accreditation body well recognized by Saudi Aramco, SABIC, Royal Commission and worldwide.</p>
                        <p><a herf="http://www.iadc.org/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>International Association of Drilling Contractors (IADC), USA</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/IADC.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is a proud member of IADC. Since 1940, the International Association of Drilling Contractors (IADC) has exclusively represented the worldwide oil and gas drilling industry. IADC is dedicated to enhancing the interests of the oil-and-gas and geothermal drilling and completion industries worldwide. IADC is an association and accreditation body well recognized by Saudi Aramco, SABIC, Royal Commission and worldwide.</p>
                        <p><a herf="http://www.iadc.org/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>Institution of Occupational Safety and Health (IOSH) UK</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/IOSH.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is licensed by IOSH to conduct Working Safely Training and Managing Safely Training Programs. IOSH is Europe’s largest professional health and safety organization. With more than 34,000 members, IOSH plays a vital role in providing advice to both public and private sector employers on effectively managing health and safety.</p>
                        <p><a herf="http://www.iosh.co.uk/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>Chartered Institute of Environmental Health (CIEH) UK</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/CIEH.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is licensed by CIEH to conduct HACCP, Food Safety, Environmental, Principles of COSSH and many other CIEH accredited training programs. CIEH is a professional and awarding body, a knowledge centre, a training organization, a campaigning body and a registered charity.</p>
                        <p><a herf="http://www.cieh.org/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>Highfield Awarding Body for Compliance (HABC), UK </h2>
                    <div class="col-md-3">
                        <img src="~/src/images/habc.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is accredited by Highfield Awarding Body for Compliance (HABC), UK to conduct many HABC qualifications, including Food Safety, Security, First Aid and Fire Safety training programs. HABC is the market leader for many HSE qualifications, including security, food safety, first aid and fire safety. It has offices in both the UK and Middle East Asia with a team of around 200 working across multiple departments. HABC works with training centres, colleges, universities, councils, governments and some of the world’s most respected companies. It has registered centres in over 30 countries throughout the world and provides full apprenticeship framework qualifications, including security, customer service, retail, health and social care, logistics and many others.</p>
                        <p><a herf="http://www.highfieldabc.com/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>Medic First Aid, USA</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/hsi.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is licensed by MEDIC First Aid USA to conduct First Aid and CPR Training programs. MEDIC First Aid International is a worldwide innovator and leader in CPR/first aid emergency care training programs for business, industry, and the public. They have certified an international network of over 85,000 instructors, who have trained more than ten million first aid providers over the past 30 years.</p>
                        <p><a herf="http://www.hsi.com/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>American Health and Safety Institute (ASHI), USA</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/ASHI.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is licensed by American Health and Safety Institute (ASHI), USA to conduct CPR, AED, and first aid training programs for the community, as well as ACLS and PALS training for professional responders. ASHI CPR, AED, and first aid training programs are ideal for Instructors with emergency medical or other healthcare expertise. The American Safety & Health Institute (ASHI) is an international association of approximately 35,000 professional safety and health educators and more than 5,500 training centers. ASHI courses are taught in more than 20 countries, and ASHI is recognized as one of the top five providers of emergency care certification in the United States.</p>
                        <p><a herf="http://www.hsi.com/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>Emergency First Response (EFR), USA </h2>
                    <div class="col-md-3">
                        <img src="~/src/images/EFR.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is licensed by Emergency First Response (EFR), USA to conduct CPR, AED and First Aid training for corporations, community groups and individuals. This includes Primary Care, Secondary Care, CPR & AED, Care for Children, Primary Care & Secondary Care with AED, Primary Care & Secondary Care (with AED optional) and Care For Children courses. Emergency First Response is the fastest-growing international CPR, AED and first aid training organization. With more than 31,000 instructors worldwide, Emergency First Response is backed by 36 years of experience in the development and delivery of instructional courses, training materials and educational curricula.</p>
                        <p><a herf="http://www.emergencyfirstresponse.com/english/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>Enform, Canada</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/enform.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is licensed by Enform Canada to conduct Enform H2S Alive Training Program. Enform, the safety association for Canada’s upstream oil and gas industry, is the advocate and leading resource for the continuous improvement of industry’s safety performance. Enform is well recognized by Saudi Aramco, SABIC, Royal Commission and worldwide.</p>
                        <p><a herf="http://ww2.enform.ca/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>Occupational Safety and Health Administration (OSHA), Department of Labor (DOL), USA</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/OSHA.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC OSHA Outreach Instructors are authorized by OSHA USA and National Safety Council USA to conduct OSHA 30-Hour and 10-Hour General Industry and OSHA 30-Hour and 10-Hour Construction Industry Training Programs. We conduct monthly classes for OSHA Construction and General Industries to meet the growing demand from our corporate and individual customers. OSHA offers a wide selection of training courses and educational programs to help broaden worker and employer knowledge on the recognition, avoidance, and prevention of safety and health hazards in their workplaces. OSHA is well recognized by Saudi Aramco, SABIC, Royal Commission and worldwide.</p>
                        <p><a herf="http://www.osha.gov/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>National Restaurant Association, USA</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/NRA.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is accredited by National Restaurant Association USA to deliver ServSafe Food Handler and ServSafe Food Manage Training. The ServSafe Food Safety Training Program leads the way in providing current and comprehensive educational materials to the restaurant industry. More than 4 million foodservice professionals have been certified through the ServSafe Food Protection Manager Certification Exam, which is accredited by the American National Standards Institute (ANSI)-Conference for Food Protection (CFP). ServSafe training and certification is recognized by more federal, state and local jurisdictions than any other food safety certification.</p>
                        <p><a herf="http://www.servsafe.com/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>National Fire Protection Association (NFPA), USA</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/nfpa.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is a proud member of NFPA. NFPA is responsible for 300 codes and standards that are designed to minimize the risk and effects of fire by establishing criteria for building, processing, design, service, and installation in the United States, as well as many other countries.</p>
                        <p><a herf="http://www.nfpa.org/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <h2>National Safety Council (NSC), USA</h2>
                    <div class="col-md-3">
                        <img src="~/src/images/NSC.png" />
                    </div>
                    <div class="col-md-9">
                        <p>ASTC is a proud member of NSC. The National Safety Council is a nonprofit organization whose mission is to save lives by preventing injuries and deaths at work, in homes and communities and on the road through leadership, research, education and advocacy.</p>
                        <p><a herf="http://www.nsc.org/">زيارة موقع المؤسسة</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

