@{
    Layout = "Layout.cshtml";
    Page.Title = "الإستشارات";
    Page.Name = "الإستشارات";
}

<div>
    <div class="container">
        <div class="row animate-box row-pb-md text-right rtl">
            <p>عندما أصبحت السلامة متطلبا اساسيا للعمل في شتى المجالات فقد قام فريق العمل بمعهد بوشا بدراسة موسعة لإحتياجات سوق العمل في استشارات السلامة وخلصنا إلى تقديم الإستشارات في القطاعات التالية</p>
             
             <h3></h3>   
        
        </div>
    </div>
</div>