@{
    Layout = "Layout.cshtml";
    Page.Title = "الإستشارات";
    Page.Name = "الإستشارات";
    Page.solutions = "active";
}

<div id="fh5co-testimonial" class="fh5co-bg">
    <div class="container">
        <div class="row animate-box row-pb-md text-right rtl">
            <div class="col-md-12">
                <h3>عندما أصبحت السلامة متطلبا اساسيا للعمل في شتى المجالات فقد قام فريق العمل بمعهد بوشا بدراسة موسعة لإحتياجات سوق العمل في استشارات السلامة وخلصنا إلى تقديم الإستشارات في القطاعات التالية</h3>
            </div>
            <div class="row">
                <div class="col-md-6 animate-box text-center rtl">
                    <div class="testimonial">
                        <blockquote>
                            <h2>إستشارات السلامة في القطاعات الإنشائية والمشاريع والخرسانه</h2>
                            <img src="src/images/Icons/roadway.png" width="40%">
                            <p>الهدف العام: التعمق في معرفة وفهم السلامة والصحة المهنية قبل البدء بالمشروع، اثناء تنفيذ المشروع وبعد الإنتهاء من تنفيذ المشروع ومابعد تسليم المشروع بالإضافة الى كيفية الحفاظ على استمرارية المنشأة اثناء فترات الركود</p>

                        </blockquote>
                    </div>
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <h2>إستشارات السلامة في المشاريع والقطاعات الصحية وسلامة المرضى</h2>
                            <img src="src/images/Icons/health.png" width="40%">
                            <p>الهدف العام: التعمق في تقديم خدمات السلامة والصحة المهنية في المنشآت الصحية وزيادةالمعرفة عن المخاطر داخل هذه المنشآت وكيفية العناية بالمريض قبل الإدخال اثناء المعالجة وبعد الخروج، بإضافة الى تعميق ثقافة السلامة التى تساعد على المحافظة على بيئة العمل خالية من المخاطر.. وتعميق روح المسؤولية لدى الجميع</p>
                        </blockquote>
                    </div>
                    <div class="testimonial">
                        <blockquote>
                            <h2>إستشارات السلامة في القطاعات الخدمية والإتصالات</h2>
                            <img src="src/images/Icons/antenna.png" width="40%">
                            <p>الهدف العام</p>
                            <ul>
                                <li>التعمق في معرفة السلامة والصحة المهنية قطاع الإتصالات</li>
                                <li>رفع الحس الأمني لدى العاملين في المكاتب ومواقع العمل</li>
                                <li>تعميق ثقافة السلامة في المصانع من ناحية سلامة الإنسان، الممتلكات والإنتاج</li>
                                <li>توضيح اهمية إدارة السلامة في قطاع لإتصالات</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <h2>إستشارات السلامة في القطاعات التجارية والعقود</h2>
                            <img src="src/images/Icons/transportation.png" width="40%">
                            <p>الأهدف العام</p>
                            <ul>
                                <li>التعامل التجاري الآمن</li>
                                <li>صياغة العقود والإتفاقية وكيفية مراجعتها بطريقة آمنة</li>
                                <li>تعميق ثقافة السلامة</li>
                                <li>توضيح اهمية إدارة السلامة المتاجرة، الشحن، التخليص على البضاعة، التنزيل والتحميل والتخزين وطرق رص البضاعة</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial">
                        <blockquote>
                            <h2>إستشارات السلامة في القطاعات النفطية والغاز وانابيب النقل</h2>
                            <img src="src/images/Icons/oil.png" width="40%">
                            <p>الأهدف العام</p>
                            <ul>
                                <li>السلامة في المشاريع النفطية والغاز</li>
                                <li>رفع الحس الأمني للتنؤ بالمخاطر</li>
                                <li>تعميق ثقافة السلامة في قراءة المستقبل الإقتصادي الآمن</li>
                                <li>توضيح اهمية إدارة السلامة في المشاريع</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <h2>إستشارات السلامة في قطاعات تحلية المياه وتوليد الكهرباء</h2>
                            <img src="src/images/Icons/hydro.png" width="40%">
                            <p>الأهدف العام</p>
                            <ul>
                                <li>التعمق في معرفة السلامة والصحة المهنية الصناعية</li>
                                <li>رفع الحس الأمني لدى العاملين</li>
                                <li>تعميق ثقافة السلامة بين فريق العمل</li>
                                <li>توضيح اهمية إدارة السلامة في اماكن العمل</li>
                                <li>إدارة السلامة المشاركات</li>
                                <li> خطط الإخلاء والطوارئ</li>
                                <li>المخاطر والدراسات قابلة التشغيل – HAZOP</li>
                                <li>كتابة التقارير الفنية</li>
                                <li>تشغيل وتخطيط الصيانة</li>
                                <li>إدارة الإنذار</li>
                                <li>مراقبة إجراءات الصيانة</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial">
                        <blockquote>
                            <h2>إستشارات السلامة الأسرية</h2>
                            <img src="src/images/Icons/chat.png" width="40%">
                            <p>الأهداف العامة</p>
                            <ul>
                                <li>السلامة العامة</li>
                                <li>الاسعاف الأولي</li>
                                <li>الوقاية من الأمراض</li>
                                <li>التعامل مع الحوادث</li>
                                <li>كيف تكون مدربا لأسرتك</li>
                                <li>السلامة المنزلية</li>
                                <li>أنظمة الاطفاء والحماية من الحريق</li>
                                <li>سلامة المرضى</li>
                                <li>التعامل مع الكوارث والحوادث</li>
                                <li>السلامة الكيماوية</li>
                                <li>السلامة الغذائية</li>
                                <li>السلامة المدرسية</li>
                                <li>العناية بالاطفال حديثي الولادة</li>
                                <li>العنف الأسري ( خاص بكل اسرة)</li>
                            </ul>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6 animate-box text-center rtl">
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <h2>إستشارات السلامة في القطاعات الصناعية وإدارة المدن الصناعية</h2>
                            <img src="src/images/Icons/company.png" width="40%">
                            <p>الأهداف العامة</p>
                            <ul>
                                <li>التعمق في معرفة السلامة والصحة المهنية الصناعية</li>
                                <li>رفع الحس الأمني لدى العاملين في المدن الصناعية</li>
                                <li>تعميق ثقافة السلامة في المصانع من ناحية سلامة الإنسان، الممتلكات والإنتاج</li>
                                <li>توضيح اهمية إدارة السلامة في المصانع</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial">
                        <blockquote>
                            <h2>إستشارات السلامة في القطاعات الفندقية والمطاعم</h2>
                            <img src="src/images/Icons/hotel.png" width="40%">
                            <p>الأهداف العامة</p>
                            <ul>
                                <li>التعمق في معرفة السلامة والصحة المهنية الفندقية</li>
                                <li>رفع الحس الأمني لدى العاملين في الفنادق</li>
                                <li>تعميق ثقافة السلامة في الفنادق والمطاعم الكبرى من ناحية سلامة الإنسان، الممتلكات وحفظ الأطعمة وتخزينها</li>
                                <li>توضيح اهمية إدارة السلامة في الفنادق والمطاعم والسياحة العلاجية</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <h2>إستشارات السلامة في التجمعات التسويقية والمدن الترفيهية</h2>
                            <img src="src/images/Icons/store.png" width="40%">
                            <p>الأهداف العامة</p>
                            <ul>
                                <li>التعمق في معرفة السلامة والصحة المهنية</li>
                                <li>رفع الحس الأمني لدى العاملين في بيئة العمل</li>
                                <li>تعميق ثقافة السلامة كمسؤولية للجميع</li>
                                <li>توضيح اهمية إدارة السلامة في التجمعات التسويقية والمدن الترفيهية</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial">
                        <blockquote>
                            <h2>إستشارات السلامة في القطاعات العسكرية واللوجستية والمخازن والنقل العسكري</h2>
                            <img src="src/images/Icons/soldier.png" width="40%">
                            <p>الأهداف العامة</p>
                            <ul>
                                <li>توصيل مفهوم السلامة العسكرية بالطرق الإدارية</li>
                                <li>تطوير مفهوم السلامة العسكرية في مختلف القطاعات العسكرية</li>
                                <li>توضيح معايير السلامة العسكرية في مختلف القطاعات العسكرية</li>
                                <li>اهمية التخزين الآمن ورص وطرق التخزين</li>
                                <li>مناولة وطرق تخزين المواد الخطرة</li>
                                <li>سرية العمل والحماية من التهديدات</li>
                                <li>تحميل ونقل وتنزيل المعدات العسكرية والمعدات</li>
                                <li>القيادة الآمنة داخل وخارج المعسكرات</li>
                                <li>توضيح اهمية لغة الإشارة والجسد</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <h2>إستشارات الأمن الصناعي</h2>
                            <img src="src/images/Icons/quality.png" width="40%">
                            <p>الهدف العام: التعمق في معرفة السلامة والصحة المهنية قبل البدء بالمشروع، اثناء تنفيذ المشروع وبعد الإنتهاء من تنفيذ المشروع ومابعد تسليم المشروع بالإضافة الى كيفية الحفاظ على استمرارية المنشأة اثناء فترات الركود</p>
                        </blockquote>
                    </div>
                    <div class="testimonial">
                        <blockquote>
                            <h2>إستشارات السلامة في قطاعات الحرسات ونقل الأموال</h2>
                            <img src="src/images/Icons/transfer-money.png" width="40%">
                            <p>الهدف العام: التعمق في معرفة السلامة والصحة المهنية قبل البدء بالمشروع، اثناء تنفيذ المشروع وبعد الإنتهاء من تنفيذ المشروع ومابعد تسليم المشروع بالإضافة الى كيفية الحفاظ على استمرارية المنشأة اثناء فترات الركود</p>
                        </blockquote>
                    </div>
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <h2>إستشارات السلامة في قطاع المواصلات والصيانة والمعدات</h2>
                            <img src="src/images/Icons/settings.png" width="40%">
                            <p>الهدف العام: التعمق في معرفة السلامة والصحة المهنية قبل البدء بالمشروع، اثناء تنفيذ المشروع وبعد الإنتهاء من تنفيذ المشروع ومابعد تسليم المشروع بالإضافة الى كيفية الحفاظ على استمرارية المنشأة اثناء فترات الركود</p>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>