@{
    Layout = "Layout.cshtml";
    Page.Title = "توطين الوظائف";
    Page.Name = "توطين الوظائف";
    Page.solutions = "active";
}
<div id="fh5co-testimonial" class="fh5co-bg">
    <div class="container">
        <div class="row animate-box row-pb-md text-right rtl">
            <div class="col-md-12">
                <h2>توطين الوظائف: التدريب المنتهي بالتوظيف</h2>
                <p>معهد سلامة المشاريع العالي يساعد الشركات والمؤسسات الوطنية على توظيف الكفاءات الوطنية في مجال السلامه والصحة المهنية من خلال التعليم في برامج الدبلوم الخاصة بالمعهد. يقدم معهد سلامة المشاريع العالي بالتعاون مع (هدف) فرصة للشركات والمؤسسات على توظيف الكفاءات السعودية وإلحاقهم في المعهد مما يمكن الشركات والمؤسسات من توطين الوظائف في مجال السلامه والصحة المهنية.</p>
                <h4>لقد حرصنا بالمعهد على ايجاد علاقة متميزة وبناءة مع برامج صندوق تنمية الموارد البشرية لدعم وتدريب وتأهيل الكوادر السعودية وكذلك الاستفادة القصوى من الأهداف الموضوعه من اجله</h4>
                <ul>
                    <li>اعداد الكوادر الوطنية في مختلف مجالات الصحة والسلامة المهنية لمواجهة المخاطر والكوارث الطبيعية.</li>
                    <li>العمل على زيادة الفرص الوظيفية في سوق العمل و ايجاد البديل السعودي لتغطية الوظائف الخاصة بمشرفي الصحة والسلامة المهنية </li>
                    <li>زيادة الوعي لدى الشركات في تنفيذ برامج السلامة في منشآتهم</li>
                    <li>زيادة الوعي والحس الأمني وتدريب العاملين على العمل ضمن المعايير العالمية والوطنية لتجنب وقوع حوادث</li>
                    <li>ايجاد الية دعم مساندة تساهم فى تحمل التكاليف التدريب والتأهيل</li>
                </ul>
            </div>
        </div>
    </div>
</div>