<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>الشروط والأحكام</title>
</head>
<body style="direction:rtl">
    <h1>الشروط والأحكام الخاصة بمعهد سلامة المشاريع</h1>
    <ul>
        <li>المبلغ المدفوع لايسترد</li>
        <li>وفي حال وجود مشاكل مالية يرجى مراجعة المعهد بشكل مباشر</li>
        <li>لا يحق للطالب المطالبة بالمبلغ المدفوع في حال أتم الدورة أو جزء منها</li>
    </ul>
</body>
</html>
