@{
    Layout = "Layout.cshtml";
    Page.Title = "البرامج التدريبية";
    Page.Name = "البرامج التدريبية";
    Page.Train = "active";
}
<div id="fh5co-project" class="fh5co-bg-section">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-right fh5co-heading  animate-box">
                <h2>قائمة الدورات</h2>
                <p></p>
            </div>
        </div>

        <div class="row text-right rtl">
            <h2>دورة الدبلوم</h2>
            <div class="col-md-12 col-sm-12 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="~/Training/Diploma.cshtml">
                    <img src="src/images/work-1.jpg" alt="دبلوم السلامة والصحة المهنية" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>دبلوم السلامة والصحة المهنية</h3>
                        <p>سنتان</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row text-right rtl">
            <h2>الدورات التدريبية</h2>
            <div class="col-md-6 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="~/Training/trainingtrainar.cshtml">
                    <img src="src/images/work-1.jpg" alt="إعداد مدربي السلامة" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>إعداد مدربي السلامة</h3>
                        <p>16 ساعة تدريبية</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="~/Training/EngSafty.cshtml">
                    <img src="src/images/work-2.jpg" alt="برنامج السلامة الهندسية" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>برنامج السلامة الهندسية</h3>
                        <p>6 أشهر</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row text-right rtl Posha-border white">
            <div class="col-md-3 col-sm-6 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha1.cshtml">
                    <img src="src/images/work-2.jpg" alt="مجموعة بوشا : بوشا 1" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 1</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha2.cshtml">
                    <img src="src/images/work-2.jpg" alt="مجموعة بوشا : بوشا 2" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 2</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha3.cshtml">
                    <img src="src/images/work-2.jpg" alt="مجموعة بوشا : بوشا 3" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 3</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha4.cshtml">
                    <img src="src/images/work-2.jpg" alt="مجموعة بوشا : بوشا 4" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 4</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
