@{
    Layout = "~/Layout.cshtml";
    Page.Title = "برنامج الدبلوم";
    Page.Name = "دبلوم السلامة والصحة المهني";
    Page.Train = "active";
    Page.Dip = "active";
}
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2>وصف البرنامج</h2>
            <p>يهدف هذا البرنامج إلى إعداد خريجي الثانوية العامة للحصول على دبلوم في تخصص الصحة والسلامة المهنية وتأهيلهم للعمل بوظيفة مشرف سلامة في المنشآت والمصانع والمشاريع الانشائية والمرافق الصحية والهيئات التعليمية والنقل</p>
        </div>
    </div>
</div>
<div id="fh5co-testimonial" style="background: #ffffff;">
    <div class="container">
        <div class="row animate-box row-pb-md rtl text-right fadeInUp animated-fast">
            <div class="col-md-8 col-md-offset-2 fh5co-heading">
                <h2>أهداف البرنامج</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  col-xs-12 animate-box fadeInUp animated-fast text-right">
                <div class="testimonial-2">
                    <blockquote>
                        <p>“معرفة وتطبيق نظام الصحة والسلامة المهنية والإيفاء بمتطلباتها وتطبيقاتها.”</p>
                    </blockquote>
                </div>
            </div>
                <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast rtl text-right" style=" float:right;">
                    <div class="testimonial-2 testimonial-2-color">
                        <blockquote>
                            <p>“القدرة على التعامل بكفاءة مع المتطلبات ووثائق السلامة العامة الخاصة بمواقع العمل واستكمال إجراءاتها.”</p>
                        </blockquote>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast text-right" style="margin-top">
                    <div class="testimonial-2 ">
                        <blockquote>
                            <p>استخدام وتطبيق نظم المعلومات الخاصة بالسلامة العامة واستخدام أدواتها وتوثيق المعلومات الخاصة بالاحداث واماكن العمل والعاملين .</p>
                        </blockquote>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast rtl text-right" style=" float:right;">
                    <div class="testimonial-2 testimonial-2-color  ">
                        <blockquote>
                            <p>“تفهم وإجادة مهارات التواصل للتعامل الإيجابي في الهيئات الصحية والمستشفيات,”</p>
                        </blockquote>
                    </div>
                </div>
        </div>
    </div>
</div>
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="feature-center animate-box fadeInUp animated-fast text-center" data-animate-effect="fadeInUp">
                    <h2>المسمى الوظيفي</h2>
                    <p>يهدف هذا البرنامج إلى إعداد خريجي الثانوية العامة للحصول على دبلوم في تخصص الصحة والسلامة المهنية وتأهيلهم للعمل بوظيفة مشرف سلامة في المنشآت والمصانع والمشاريع الانشائية والمرافق الصحية والهيئات التعليمية والنقل</p>
                </div>
                </div>
            <div class="col-md-6">
                <div class="feature-center animate-box fadeInUp animated-fast text-center" data-animate-effect="fadeInUp">
                    <h2>المؤهلات العلمية المطلوبة</h2>
                    <p>يتطلب الحصول على شهادة الثانوي (قسم علمي) للحصول على شهادة دبلوم في السلامة العامة تخصص الصحة والسلامة العامة. مدة الدراسة سنتان ونصف تشمل الدراسة النظرية بالنظام الربعي وفصل تدريب عملي مدته 12 اسبوع</p>
                </div>
            </div>
            </div>
    </div>
</div>
