@{
    Layout = "~/Layout.cshtml";
    Page.Title = "السلامة الهندسية";
    Page.Name = "برنامج السلامة الهندسية للوقاية والحماية من الحريق";
    Page.Train = "active";
    Page.EngSafty = "active";
}
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2> الغرض من البرنامج </h2>
            <p>هو تأهيل المهندس في مجال الوقاية والحماية من الحريق وفق شروط ومتطلبات المديرية العامة للدفاع المدني. وبعد إتمام البرنامج بنجاح يكون المهندس مؤهل للعمل في مجال السلامة والوقاية من الحريق في المكاتب والشركات الهندسية، ويعتبر بذلك مهندس سلامة ووقاية من الحرائق وفقاً للشرط الثاني من لائحة الدفاع المدني الخاصة بتنظيم نشاط المكاتب الهندسية الاستشارية في مجال الوقاية والحماية من الحريق.
                لذا يحث معهد سلامة المشاريع العالي للتدريب جميع الافراد والمهندسين والمكاتب والشركات الهندسية الراغبة بالاستفادة من هذا البرنامج 
            </p>
        </div>
    </div>
</div>
<div id="fh5co-counter" class=" border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2>مدة الدورة - وشروط الحصول على الشهادة</h2>
            <p>ستة أشهر - 528 ساعة تدريب<br />
                وبعد الإنتهاء من التدريب يتم اختبار المتدرب من المؤسسة العامة للتدريب والتقني والمهني
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-download"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="528" data-speed="10000" data-refresh-interval="50"></span></span>
                    <span class="counter-label">ساعة تدريب</span>

                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="clock">
                    <div class="top"></div>
                    <div class="right"></div>
                    <div class="bottom"></div>
                    <div class="left"></div>
                    <div class="center"></div>
                    <div class="shadow"></div>
                    <div class="hour"></div>
                    <div class="minute"></div>
                    <div class="second"></div>
                </div>
            </div>
        </div>
    </div>
</div>
