@{
    Layout = "~/Layout.cshtml";
    Page.Name = "مجموعة بوشا 3";
    Page.Title = "3 بوشا";
    Page.Train = "active";
    Page.PoshG = "active";
}
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2> قائمة الدورات داخل المجموعة الثالثة</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="B1-tab" data-toggle="tab" href="#B1" role="tab" aria-controls="B1">بوشا301</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B2-tab" data-toggle="tab" href="#B2" role="tab" aria-controls="B2">بوشا302</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B3-tab" data-toggle="tab" href="#B3" role="tab" aria-controls="B3">بوشا303</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B4-tab" data-toggle="tab" href="#B4" role="tab" aria-controls="B4">بوشا304</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B5-tab" data-toggle="tab" href="#B5" role="tab" aria-controls="B5">بوشا305</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B6-tab" data-toggle="tab" href="#B6" role="tab" aria-controls="B6">بوشا306</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B7-tab" data-toggle="tab" href="#B7" role="tab" aria-controls="B7">بوشا307</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B8-tab" data-toggle="tab" href="#B8" role="tab" aria-controls="B8">بوشا308</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B9-tab" data-toggle="tab" href="#B9" role="tab" aria-controls="B9">بوشا309</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane Tap-Big fade active in" id="B1" role="tabpanel" aria-labelledby="B1">
                        <h3>أسم الدورة: مفهوم سياسات واجراءات ومعايير السلامة والصحة المهنية</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>مفهوم سياسات السلامة</li>
                            <li>مفهوم اجراءات السلامة</li>
                            <li>مفهوم إدارة السياسة</li>
                            <li>مفهوم معايير السلامة</li>
                            <li>مفهوم الصحة المهنية</li>
                            <li>ماقبل تصميم السياسات والإجراءات</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B2" role="tabpanel" aria-labelledby="B2">
                        <h3>أسم الدورة: اهمية رسم سياسات واجراءات السلامة حسب المعايير الدولية</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>اثناء تصميم السياسات والإجراءات</li>
                            <li>تحليل ما تم تصميمه من السياسات والإجراءات</li>
                            <li>موافقة الإدارة العليا على السياسات والإجراءات</li>
                            <li>تعميم السياسات والإجراءات على التنفيذيين ومدراء المشاريع</li>
                            <li>القيام بعمل دراسة للحوادث والحرائق التي حدثت في المنشأة سابقا والاستفادة من الاجراءات التى اتخذت سابقا فى مجال المخاطر او الدراسات السابقه سواء فى المنشآت نفسها أو التي تعمل في نفس المجال.</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B3" role="tabpanel" aria-labelledby="B3">
                        <h3>أسم الدورة: دور إدارة السلامة والصحة المهنية في تنمية الحس الأمني ورفع كفاءة الأمن الصناعي وتحليل المخاطر</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>دراسة ومعرفة الاخطار المحتملة في المهنة او المنشأه بعمل تقييم شامل للاجراءات وتحليل على مختلف اجزاء المنشأة لكشف المخاطر وشدتها ومدى أثرها على العاملين والمواد و المعدات والمباني</li>
                            <li>كتابة التقارير حول الحوادث واصابات الاعمال وتطبيق القوانين المنظمه له</li>
                            <li>معالجة المخاطر ذات المستوى عالى والقابله للحدوث اولا ثم معاجلة الإخطار الاقل خطوره و حسب درجة خطورتها ومدى تأثيرها</li>
                            <li>القيام فى التفتيش الدوري على مختلف ارجاء المنشأة للكشف للمتابعة ومعرفة مستوى نتائج التوصيات السابقه ومدى ملائمته</li>
                            <li>استمرارية الاهتمام وتطوير وارشاد العمال على التقيد بأجراءات السلامة</li>
                            <li>الاحتفاظ بسجلات السلامه المتنوعه سواء عن الحوادث أوالحرائق او التدريب وساعات العمل الضائعة والخسائر المادية للاستعانة بها في الدراسات المتعلقة بالسلامة وتلافي اسبابها</li>
                            <li>العيش بسلام</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B4" role="tabpanel" aria-labelledby="B4">
                        <h3>أسم الدورة: وضع الخطط والإستراتيجيات ومتابعة تنفيذها حسب المعايير الخاصة بالسلامة والصحة المهنية ايوش + نيبوش</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>المسؤوليات لمديري المرافق</li>
                            <li>السلامة لكبار المسؤولين التنفيذيين</li>
                            <li>السلامة العامه</li>
                            <li>التحقيق في الحوادث</li>
                            <li>مخاطر الإسبيستوس</li>
                            <li>التعامل مع مقاولي الباطن ومنفذي الأعمال</li>
                            <li>وضع آلية فاعلة لزيادة الوعي بالسلامة المهنية</li>
                            <li>معرفة بيئة العمل قبل البدء بتنفيذ العمل</li>
                            <li>إدارة سلامة البناء</li>
                            <li>المراقبة على تنفيذ العمل ( الإشراف)</li>
                            <li>تقييم مخاطر الحريق</li>
                            <li>التدريب على مخاطر الحريق</li>
                            <li>الطوارئ والإسعافات الأولية في العمل</li>
                            <li>الأهتزازات واثرها على سير العمل</li>
                            <li>مخاطر بيئة العمل</li>
                            <li>التوعية الصحية والسلامة</li>
                            <li>إدارة السلامة الكهربائية</li>
                            <li>دليل التعامل مع مقيم التدريب</li>
                            <li>دليل تقييم المخاطر المناولة</li>
                            <li>الضوضاء</li>
                            <li>تعريفات عامه</li>
                            <li>سياسة السلامه والصحه المهنيه</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B5" role="tabpanel" aria-labelledby="B5">
                        <h3>أسم الدورة: التفتيش على نظم السلامة وتقييم المخاطر الصحة والسلامة المهنية الواصفة 18001 الصادرة من اوشا</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>التخطيط</li>
                            <li>التخطيط لتحديد المخاطر ، تقييم شدة المخاطر وتحديد الضوابط .</li>
                            <li>المتطلبات القانونيه والمتطلبات الأخرى</li>
                            <li>الأهداف و البرامج .التطبيق والعمليات</li>
                            <li>الموارد ، القواعد ، المسئوليات ، المحاسبة ، و السلطات</li>
                            <li>التدريب والتوعيه والكفاءه</li>
                            <li>الاتصالات ، المشاركة و الاستشارات</li>
                            <li>مراقبة الوثائق والبيانات</li>
                            <li>مراقبة العمليات</li>
                            <li>الاستعداد والاستجابه للطوارئ</li>
                            <li>قياس ومراقبة الأداء و تقييم التطابق</li>
                            <li>التحقيق في الحوادث والحوادث الوشيكه ، عدم المطابقه والاجراءات التصحيحيه والوقائية</li>
                            <li>عدم المطابقه والاجراءات التصحيحيه والوقائية</li>
                            <li>السجلات وادارة السجلات</li>
                            <li>المراجعات</li>
                            <li>ادارة المخاطرحسب المواصفة 31001</li>
                            <li>مفهوم السلامة الفكرية والنفسية والجسدية</li>
                            <li>تعريف الأزمات وخطط الطوارئ المختلفة ومسؤوليات وواجبات مدراء ومشرفي السلامة بمعالجة الأزمات الطارئة</li>
                            <li>إستراتيجية اتخاذ القرارات تحت الضغوط وكيفية الاعداد والإلمام التام بكافة الجوانب التنفيذية والعملية لأساليب إعداد خطط الطوارئ والتعامل مع الأزمات والمواقف الطارئة ومتابعة أعمال الأخلاء وعمليات الأنقاذ</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B6" role="tabpanel" aria-labelledby="B6">
                        <h3>أسم الدورة: الوقاية والسيطرة ورصد المخاطر وتحليل الحوادث</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>تقنيات واستراتيجيات تطبيق خطط الطوارئ، الإنذار المبكر، الإخلاء، البحث والإنقاذ، العناية الطبية، التعامل مع الضحايا، إيواء اللاجئين، التعامل مع المساعدات، تقييم الخسائر</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B7" role="tabpanel" aria-labelledby="B7">
                        <h3>أسم الدورة: القيادة، والمهارات التنظيمية لادارة الأزمات وعمليات الطوارئ والانقاذ والاخلاء وادارة انظمة السلامة والصحة المهنية واعداد الخطط التنفيذية</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>اهمية تشكيل اللجان العليا والفرعية لإدارة لإعداد خطط الطوارئ والإنقاذ والإخلاء وتحديد مسؤولياتهم</li>
                            <li>مفهوم الإخلاء للمباني والمنشآت الكبيرة والهامة</li>
                            <li>كيفية احتساب سعة وقدرة المداخل والمخارج للمباني على استيعاب خروج شاغليها بكفاءة</li>
                            <li>مفهوم جاهزية ساحات التجمع والملاجئ والإجراءات الفنية ماقبل وما بعد الكارثة أو الأزمة وأهم الإجراءات الإدارية لما بعد حالة الطوارئ</li>
                            <li>إدراك للمفاهيم العلمية والعملية لعمليات ( الإنقاذ – الإخلاء – الأزمة – الكوارث )</li>
                            <li>آلية التنسيق الفوري مع الجهات المعنية بالدولة عند حدوث الطوارئ</li>
                            <li>كيفية رسم النظام الوقائي للتصدي للأزمات والكوارث وكيفية التعامل مع التقنيات لتخفيف درجات الإصابة. والتدابير الوقائية التي يلزم لحماية المنشآت وتأمينها ضد الحوادث والتخريب في أوقات الطوارئ</li>
                            <li>المعايير التي تحكم سير العمل بغرفة العمليات بالمنشأة في أوقات الطوارئ والأزمات ، والأسلوب العلمي والعملي لإدارة العمليات وتنفيذ خطط الانتشار والإخلاء وقت الطوارئ</li>
                            <li>استراتيجيات رفع الكفاءة الإدارية للمسئولين في موجهة المواقف الأمنية المختلفة بما يحقق السيطرة والقدرة على التحكم في عمليات الأنقاذ والإخلاء وخطط الطوارئ لمواقف الأزمات</li>
                            <li>دور غرف السيطرة التقنية في منظومة المراقبة والسيطرة على سير العمل</li>
                            <li>اهمية سلامة وأمن الوثائق والمعلومات والاتصالات في الحفاظ على سرية العمل في المنشة</li>
                            <li>اهمية تأمين المحيط الخارجي للمنشأة وتحديد مناطق الخطر وزيادة تأمين سلامتها عن طريق وضع وضع خطة للإتصالات السلكية واللاسلكية مع تحديد المسؤولة عن إعطاء المعلومات للجهات ذات الإختصاص</li>
                            <li> المهام الأساسية لمديري السلامة بالمنشأت والمعايير التي يجب ان يتم اختيار الوظائف العليا في المنشآت</li>
                            <li>دراسة ومعرفة الاخطار المحتملة في المهنة او المنشأه بعمل تقييم شامل للاجراءات وتحليل على مختلف اجزاء المنشأة لكشف المخاطر وشدتها ومدى أثرها على العاملين والمواد و المعدات والمباني</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B8" role="tabpanel" aria-labelledby="B8">
                        <h3>أسم الدورة: الهندسة الأمنية لتأمين المنشآت الحيوية والحساسة والتخطيط لادارة الطوارئ</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>التعرف على برامج السلامة والصحة المهنية ومعايير الأوشا، والنيبوش ، والإجراءات والإرشادات اللازمة لتنفيذ العمل</li>
                            <li>تنمية قدرات المشاركين في اجراءات التفتيش والفحص والتقييم وتنفيذ العمل ضمن إجراءات السلامة وكيفية إعداد الخطط اللازمة لمواجهة مختلف أنواع الطوارئ.</li>
                            <li>تطبيق معايير وسياسات وإجراءات السلامة والصحة المهنية طبقا لمستويات إدارة السلامة والصحة المهنية ومعرفة المقصود بالمخاطر الأمنية بالمنشآت الصناعية</li>
                            <li>مفهوم إدارة الجودة الشاملة (TQM) واهميتها في تطبيق اجراءات السلامة في تنفيذ العمل والمحافظة على سلامة العاملين والممتلكات</li>
                            <li>عرض لأهم المخاطر التي تهدد سلامة المنشآت والتي ظهرت في الفترة الأخيرة</li>
                            <li>فلسفة إدارة الجودة الشاملة ومدى ارتباطها بمجال السلامة والصحة المهنية</li>
                            <li>تقييم الأخطار في المنشآت الصناعية وكيفية السيطرة عليها (HAZID)</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B9" role="tabpanel" aria-labelledby="B9">
                        <h3>أسم الدورة: المعايير العالمية دراستها، تحليلها وتكيفها لتتلائم مع بيئات العمل المحلية</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>أسس تطبيق قوائم تدقيق للتفتيش على موقع العمل من اجل تحسين وتطوير السلامة والصحة المهنية في اماكن العمل</li>
                            <li>مفهوم المواصفات والمقاييس واهميتها في رفع مستوى السلامة في المنشآت</li>
                            <li>اجراءات التعامل مع الهديدات والمخاطر المحيطة بالمنشآت</li>
                            <li>المعايير العالمية لكتابة المذكرات والتقارير الخاصة بالسلامة والصحة المهنية واستخدام الماذج المخصصة لذلك</li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
