@{
    Layout = "~/Layout.cshtml";
    Page.Name = "مجموعة بوشا 1";
    Page.Title = "1 بوشا";
    Page.Train = "active";
    Page.PoshG = "active";
}
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2> قائمة الدورات داخل المجموعة الأولى</h2>
            </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="B1-tab" data-toggle="tab" href="#B1" role="tab" aria-controls="B1">بوشا101</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B2-tab" data-toggle="tab" href="#B2" role="tab" aria-controls="B2">بوشا102</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B3-tab" data-toggle="tab" href="#B3" role="tab" aria-controls="B3">بوشا103</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B4-tab" data-toggle="tab" href="#B4" role="tab" aria-controls="B4">بوشا104</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B5-tab" data-toggle="tab" href="#B5" role="tab" aria-controls="B5">بوشا105</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B6-tab" data-toggle="tab" href="#B6" role="tab" aria-controls="B6">بوشا106</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B7-tab" data-toggle="tab" href="#B7" role="tab" aria-controls="B7">بوشا107</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane Tap-Big fade active in" id="B1" role="tabpanel" aria-labelledby="B1">
                        <h3>أسم الدورة: مفهوم السلامة والصحة المهنية</h3>
                        <spen>8 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>مفهوم إدارة السلامة والصحة المهنية وترابطها مع الإدارارت الأخرى في المنشآت</li>
                            <li>مفهوم المعايير العالمية</li>
                            <li>مفهوم سياسات السلامة واجراءات العمل</li>
                            <li>مفهوم البيئة المحيطة بالعمل</li>
                            <li>أهمية التواصل وكسر الحواجز بين فريق العمل الواحد</li>
                            <li>التبليغ عن الحوادث وطرق كتابة تقارير السلامة</li>
                            <li>مفهوم السلامة والصحة المهنية</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B2" role="tabpanel" aria-labelledby="B2">
                        <h3>أسم الدورة: معدات الوقاية الشخصية</h3>
                        <spen>8 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>حماية الرأس</li>
                            <li>حماية العينين</li>
                            <li>حماية السمع</li>
                            <li>حماية الوجه</li>
                            <li>حماية الجسم</li>
                            <li>حماية اليدين</li>
                            <li>حماية الركب</li>
                            <li>حماية القدمين</li>
                            <li>حبال الحماية من السقوط</li>
                            <li>اجهزة الحماية من الغازات</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B3" role="tabpanel" aria-labelledby="B3">
                        <h3>أسم الدورة: مكافحة الحريق والإسعافات الأولية</h3>
                        <spen>8 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>اسباب الحريق ومسبباتها</li>
                            <li>معدات الإطفاء وانواعها</li>
                            <li>اجهزة الإنذار</li>
                            <li>اجهزة الدخان</li>
                            <li>مكافحة النيران والأدخنة</li>
                            <li>الإسعافات الأولية</li>
                            <li>فرق الإنقاذ</li>
                            <li>فرق الإخلاء</li>
                            <li>مخارج الطوارىء</li>
                            <li>الإشارات التحذيرية</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B4" role="tabpanel" aria-labelledby="B4">
                        <h3>أسم الدورة: مهارات التواصل واستخدام لغة الجسد</h3>
                        <spen>8 ساعات تدريبية</spen>
                        <h4>محتوى الدورة</h4>
                        <br />
                        <ul>
                            <li>اهمية التواصل بين فريق العمل</li>
                            <li>اهمية التواصل بين فريق العمل والمسؤولين</li>
                            <li>اهمية استخدام لغة الجسد عند انقطاع الإتصالات</li>
                            <li>اهمية التعاون في مواقع العمل</li>
                            <li>التواصل مع فرق الإنقاذ</li>
                            <li>استدعاء فرق الطوارىء</li>
                            <li>التبليغ عن وقوع حادث</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B5" role="tabpanel" aria-labelledby="B5">
                        <h3>أسم الدورة: إدارة السلامة وعلاقتها بالحراسات الأمنية</h3>
                        <spen>8 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>إختيار العاملين في الحراسات الأمنية</li>
                            <li>تشكيلات الحراسة المترجلة (البوبات الرئيسية، مواقف السيارات والإستعلامات)</li>
                            <li>المراقبة المضادة ودورها الفعال في تأمين الحماية للمنشآت</li>
                            <li>المهارات السلوكية لرجل الأمن . الأساسيات المكونة لشخص رجل الأمن</li>
                            <li>التصاريح-البطاقات –السجلات الأمنية. السلوك الانساني </li>
                            <li>تنمية المهارات الميدانية لضباط الأمن لمواجهة الأزمات</li>
                            <li>أهمية الأمن والحماية للأفراد والمنشآت وتحديد المخاطر وإعداد الخطط .</li>
                            <li>أساليب تنمية الحس الأمني و المهارات اللازمة لرجال الأمن في حياتهم الإجتماعية.</li>
                            <li>نبذة عن الدور الذي تلعبة ( التصاريح-البطاقات –السجلات ) الأمنية في حماية أمن المنشأة.</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B6" role="tabpanel" aria-labelledby="B6">
                        <h3>أسم الدورة: نقل المواد، التحميل والتنزيل والمستودعات</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>المواصفات الواجب توفرها في المستودعات</li>
                            <li>مفهوم المخاطر في المستودعات</li>
                            <li>التعامل مع المواد الخطرة في المناولة والتخزين</li>
                            <li>استخدام الرافعه الشوكية داخل المستودعات</li>
                            <li>تصنيف المواد داخل المستودعات</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B7" role="tabpanel" aria-labelledby="B7">
                        <h3>أسم الدورة: القيادة الآمنة</h3>
                        <spen>4 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>تفقد السيارة قبل تشغيل المحرك</li>
                            <li>تفقد السيارة بعد تشغيل المحرك وقبل الشروع بالقيادة</li>
                            <li>وسائل السلامة المتوفرة في السيارة واهمية استخدامها</li>
                            <li>التعرف على النقاط الميتة في السيارة</li>
                            <li>الرجوع الى الخلف والإصطفاف</li>
                            <li>القيادة عند المنعطفات</li>
                            <li>التجاوز اثناء القيادة</li>
                            <li>السلوك الشخصي اثناء القيادة</li>
                            <li>الإلتزام بالقواعد المرورية والإشارات التحذيرية</li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
