
@{
    Layout = "~/Layout.cshtml";
    Page.Name = "مجموعة بوشا 4";
    Page.Title = "4 بوشا";
    Page.Train = "active";
    Page.PoshG = "active";
}
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2>قائمة الدورات داخل المجموعة الرابعة</h2>
        </div>
        <div class="row ltr text-right">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <th><h2 style="color:white;">المدة</h2></th>
                        <th><h2 style="color:white;">أسم الدورة</h2></th>

                    </tr>

                    <tr>

                        <td>1- السلامة في القطاعات الإنشائية والمشاريع والخرسانه</td>
                        <td>40 ساعة</td>
                    </tr>

                    <tr>

                        <td>2- السلامة في المشاريع والقطاعات الصحية وسلامة المرضى</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>

                        <td>3- السلامة في القطاعات التعليمية</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td>4-  السلامة في القطاعات الصناعية وإدارة المدن الصناعية</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">5- السلامة في القطاعات الفندقية والمطاعم</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">6-  السلامة في التجمعات التسويقية والمدن الترفيهية</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">7- السلامة في القطاعات الخدمية والإتصالات </td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">8- السلامة في القطاعات التجارية والعقود</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">9- السلامة في النفطية والغاز وانابيب النقل</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">10- السلامة في قطاعات تحلية المياه وتوليد الكهرباء</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">11- السلامة في القطاعات العسكرية واللوجستية والمخازن والنقل العسكري </td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">12- السلامة في القطاعات الآمنية والمرور</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">13-  السلامة في قطاعات الحرسات ونقل الأموال</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">14- السلامة في قطاع النقل والصيانة والمعدات</td>
                        <td> 40 ساعة</td>
                    </tr>

                    <tr>
                        <td style="	border-left: none;">15- السلامة الأسرية</td>
                        <td> 40 ساعة</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

