@{
    Layout = "~/Layout.cshtml";
    Page.Name = "مجموعة بوشا التدريبية";
    Page.Title = "مجموعة بوشا";
    Page.Train = "active";
    Page.PoshG = "active";
}
<div id="fh5co-project">
    <div class="container">
        <div class="row text-center rtl">
            <h3>مجموعة مناهج متكاملة تغطي كافة جوانب إدارة السلامة في كافة المجالات</h3>
        </div>
        <div class="row animate-box row-pb-md text-right rtl">
            <div class="col-md-6 col-xs-12 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha1.cshtml">
                    <img src="~/src/images/work-2.jpg" alt="بوشا 1" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 1</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-xs-12 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha2.cshtml">
                    <img src="~/src/images/work-2.jpg" alt="بوشا 2" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 2</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row animate-box row-pb-md text-right rtl">
            <div class="col-md-6 col-xs-12 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha3.cshtml">
                    <img src="~/src/images/work-2.jpg" alt="بوشا3" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 3</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-xs-12 fh5co-project animate-box no-margin" data-animate-effect="fadeIn">
                <a href="~/Training/Posha4.cshtml">
                    <img src="~/src/images/work-2.jpg" alt="بوشا4" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>بوشا 4</h3>
                        <p>40 ساعة</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



