@{
    Layout = "~/Layout.cshtml";
    Page.Name = "مجموعة بوشا 2";
    Page.Title = "2 بوشا";
    Page.Train = "active";
    Page.PoshG = "active";
}
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2>قائمة الدورات داخل المجموعة الثانية</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="B1-tab" data-toggle="tab" href="#B1" role="tab" aria-controls="B1">بوشا201</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="B2-tab" data-toggle="tab" href="#B2" role="tab" aria-controls="B2">بوشا202</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane Tap-Big fade active in" id="B1" role="tabpanel" aria-labelledby="B1">
                        <h3>أسم الدورة: الإشراف الفعال في الصحة والسلامة المهنية</h3>
                        <spen>16 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>مفهوم الإشراف</li>
                            <li>لإشراف في مواقع العمل</li>
                            <li>الإشراف على المكاتب الإدارية</li>
                            <li>الإشراف على عملية الدخول والخروج من مكاتب المنشآت والمشاريع</li>
                            <li>الإشراف اسكان واطعام العاملين في المشاريع واماكن سكنهم</li>
                            <li>الإشراف على النظافة داخل المنشآت، والمصانع ومواقع العمل</li>
                            <li>الإشراف والتعاون مع ادارة الجودة الشاملة لأستثمار الايدي العاملة ، عمل مقارنة بين ساعات العمل والقدرة الانتاجية من خلال السياسات الخصة بالسلامة المهنية</li>
                            <li>الإشراف على شراء واستلام المواد وطرق المناولة وعمليات التخزين</li>
                            <li>تطوير إدارة السلامة والصحة المهنية</li>
                        </ul>
                        <br />
                    </div>
                    <div class="tab-pane Tap-Big fade" id="B2" role="tabpanel" aria-labelledby="B2">
                        <h3>أسم الدورة: الإدارة التطويرية للسلامة والصحة المهنية</h3>
                        <spen>20 ساعات تدريبية</spen>
                        <br />
                        <h4>محتوى الدورة</h4>
                        <ul>
                            <li>تعريف الحوادث</li>
                            <li>تصنيف الحوادث</li>
                            <li>الأسباب الشخصية الحوادث</li>
                            <li>إدارة المخاطر وإستراتيجيات التحكم فى المخاطر</li>
                            <li>مخاطر العنصر البشري، المخاطر الهندسية ، المخاطر الميكانيكية ومخاطر العدد اليدوية المخاطر الفزيائية ، خطر الإهتزاز، مخاضر الإضاءة، مخاطر الحرارة، مخاطر الإشعاع، مخاطر الضجيج، المخاطر الكيميائية ، المخاطر البيولوجية والمخاطر الناتجة عن استخدام الطاقة</li>
                            <li>حماية اليدين</li>
                            <li>تطوير ورفع كفاءة انظمة الامن والسلامة وتنفيذ معايير الجودة</li>
                            <li>التعرف على المعايير الحديثة لإنظمة السلامة والصحة المهنية طبقا لمعايير اوشا ونيبوش</li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

