@{
    Layout = "~/Layout.cshtml";
    Page.Title = "تدريب المدربين";
    Page.Name = "تدريب مدربي السلامة والصحة مهنية";
    Page.Train = "active";
}
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2>المحاور الأساسية للبرنامج</h2>
        </div>
        <div class="row">
            <div class="col-md-12  col-xs-12 animate-box fadeInUp animated-fast text-right">
                <div class="testimonial-2">
                    <blockquote>
                        <p>“كيفية إحداث تغيير في المتدرب لزيادة الحس المرتبط بالكشف عن المخاطر وطرق التحكم فيها”</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast rtl text-right" style=" float:right;">
                <div class="testimonial-2 testimonial-2-color">
                    <blockquote>
                        <p>“التعامل مع المعارف الرئيسية للسلامة المهنية وربطها بالخبرات العملية ومعرفة طرق نقلها للمتدرب”</p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast text-right" style="margin-top">
                <div class="testimonial-2 ">
                    <blockquote>
                        <p>“كيفية الإستفادة من ربط الخبرات والمعلومات والمهارات في العملية التدريبية”</p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast rtl text-right" style=" float:right;">
                <div class="testimonial-2 testimonial-2-color  ">
                    <blockquote>
                        <p>“معرفة طرق التدريب وكيفية التعامل مع الدورة التدريبية من خلال نظام إدارة المشاريع”</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast text-right" style="margin-top">
                <div class="testimonial-2 ">
                    <blockquote>
                        <p>“كيفية تحديد أهداف التدريب وكيفية الوصول إليها”</p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast rtl text-right" style=" float:right;">
                <div class="testimonial-2 testimonial-2-color  ">
                    <blockquote>
                        <p>“كيفية إعطاء دورة مهنية ذات مستوى عال يربط بين سلامة التدريب وجودة التدريب”</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast text-right" style="margin-top">
                <div class="testimonial-2 ">
                    <blockquote>
                        <p>“معرفة السلامة والصحة المهنية النشأة والتاريخ والتشريعات”</p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 animate-box fadeInUp animated-fast rtl text-right" style=" float:right;">
                <div class="testimonial-2 testimonial-2-color  ">
                    <blockquote>
                        <p>“كيفية إنهاء الدورة وقياس مدى تحقيق الأهداف”</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-services" class=" border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2>المحاور التفصيلية للبرنامج</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="day1-tab" data-toggle="tab" href="#day1" role="tab" aria-controls="day1">اليوم الأول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="day2-tab" data-toggle="tab" href="#day2" role="tab" aria-controls="day2">اليوم الثاني</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="day3-tab" data-toggle="tab" href="#day3" role="tab" aria-controls="day3">اليوم الثالث</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="day4-tab" data-toggle="tab" href="#day4" role="tab" aria-controls="day4">اليوم الرابع</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane Tap-Big fade active in" id="day1" role="tabpanel" aria-labelledby="day1">
                        <h3>المحاور التفصيلية: اليوم الأول</h3>

                        <br>
                        <h4>المحتوى</h4>
                        <p>
                        </p><ul>
                            <li>التعارف والترحيب </li>
                            <li>التعريف بالمعهد وخدماته التدريبية </li>
                            <li>شرح الهدف من الدورة </li>
                            <li>طرق التدريب </li>
                            <li>عمليات التعلم ونقل المعرفة </li>
                            <li>مراقبة كفاءة توصيل المعلومات عن طريق مراقبة المتدربين </li>
                            <li>كيفية استخدام المعلومات والخبرات في نقل المعرفة التدريبية </li>

                        </ul>
                        <p></p>
                    </div>
                    <div class="tab-pane Tap-Big fade" id="day2" role="tabpanel" aria-labelledby="day2">
                        <h3>المحاور التفصيلية: اليوم الثاني</h3>
                        <br>
                        <h4>المحتوى</h4>
                        <p>
                        </p><ul>
                            <li>معايير السلامة العالمية والمحلية </li>
                            <li>إدارة السلامة المهنية </li>
                            <li>الإدارات المساندة ودورها في السلامة المهنية </li>
                            <li>مهارات الإدارة ولإشراف في السلامة المهنية </li>
                            <li>السياسات والإجراءات في إدارة السلامة </li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="tab-pane Tap-Big fade" id="day3" role="tabpanel" aria-labelledby="day3">
                        <h3 >المحاور التفصيلية: اليوم الثالث  </h3>

                        <br>
                        <h4>المحتوى</h4>
                        <p>
                        </p><ul>
                            <li>مفهوم الإحترافية في التدريب</li>
                            <li>اعرف نفسك</li>
                            <li>التدريب كمشروع ومهنة</li>
                            <li>العناصر الإحترافية للتدريب</li>
                            <li>الحقيبة التدريبية مفهوم ومحتوى وتطوير وقياس  واخراج</li>
                            <li>مهارات التدريب الإحترافية</li>
                            <li>التواصل الإحترافي بين المدرب والمتدرب</li>
                            <li>الفرق بين المعرفة والمعلومة</li>
                            <li>تسويق الذات</li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="tab-pane Tap-Big fade" id="day4" role="tabpanel" aria-labelledby="day4">
                        <h3>المحاور التفصيلية: اليوم الرابع</h3>

                        <br>
                        <h4>المحتوى</h4>
                        <p>
                        </p><ul>
                            <li>ورشة عمل</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-services" class="fh5co-bg-section border-bottom rtl text-right">
    <div class="container">
        <div class="row">
            <h2>المراحل تدريب</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link " id="Before-tab" data-toggle="tab" href="#Before" role="tab" aria-controls="Before">مرحلة قبل التدريب</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="After-tab" data-toggle="tab" href="#After" role="tab" aria-controls="After">مرحلةالتدريب</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane Tap-Big fade active in bg-white" id="Before" role="tabpanel" aria-labelledby="Before">

                        <h3>المحور الأول التحضير والإعداد</h3>
                        <ul>
                            <li>تحديد الأهداف التدريبية من أجل تصميم التدريب</li>
                            <li>تصميم مخطط البرنامج التدريبي</li>
                            <li>تحديد المحتوى التدريبي للحقيبة او الدورة التدريبية</li>
                            <li>معرفة القاعة التي سيتم التدريب فيها</li>
                            <li>التخلص من رهبة الوقوف امام المتدربين عن طريق تطوير الذات</li>
                            <li>تحديد الطريقة التي سيتم افتتاح  الدورة التدريبية بها</li>
                        </ul>
                        <h3>المحور الثاني إعداد الحقيبة التدريبية: </h3>
                    <p>تهدف مرحلة إعداد الحقائب التدريبية إلى وضع خطة تنفيذية لعملية التدريب الفعلي وذلك عن طريق إعداد المادة العلمية والخطوات الإجرائية اللازمة للتنفيذ ويتم إعداد الحقائب التدريبية على أساس الأهداف التدريبية والمعارف والمهارات وطرق التدريب ووسائله التي تم اتخاذ قرارات بشانها في مرحلة التصميم وذلك لضمان تخطيط وتنفيذ التدريب على اساس معايير علمية وفنية سليمة  وتمثل الحقيبة التدريبية للبرنامج المنتج النهائي لمراحل ما قبل التدريب وتستحدم لتحقيق الأغراض الأساسية التالية :</p>
                        <ul>
                            <li>توضيح محتويات البرنامج وأهدافه وشروطه ومدته والوظائف المستهدفة</li>
                            <li>توضيح الوحدات التدريبية لكل مادة وزمنها وأهدافها وموضوعاتها</li>
                            <li>توضيح الأدوار المشاركة في التدريب (المدرب و المتدرب</li>)
                            <li>تستخدم كمرشد عام لإدارة الجلسات التدريبية</li>
                            <li>توفر المادة العلمية الأساسية والادوات الضرورية للتطبيق العملي</li>
                            <li>توفر أدوات قياس اكتساب المهارات والمعارف</li>
                        </ul>
                        <h3>أولاً: حقيبة المادة التدريبية  </h3>
                        <p>يتم اعداد حقيبة تدريب واحدة لكل مادة تدريبية بحيث يمكن استخدامها من قبل المدرب والمتدرب وتتكون حقيبة المادة من خمسة اقسام رئيسة يتكون كل منها من الآتي:</p>
                        <h4 >القسم الاول ( مفتاح الحقيبة ):</h4>
                        <p>يحتوي هذا القسم على العناصر المتعلقة بالتوثيق والمحتويات كما يعطي صورة عامة وشاملة عن البرنامج بجميع عناصره ويتكون هذا الجزء من العناصر التالية: </p> 
                        <ul>
                            <li>نموذج غلاف حقيبة المادة والذي  يشتمل على اسم المادة التدريبية والبرنامج والقطاع واسم معد الحقيبة والمراجع العلمي ومن قام بعملية تطوير الحقيبة</li> .
                            <li>نموذج غلاف حقيبة المادة والذي  يشتمل على اسم المادة التدريبية والبرنامج والقطاع واسم معد الحقيبة والمراجع العلمي ومن قام بعملية تطوير الحقيبةفهرس المحتويات الرئيسة</li>
                            <li>نموذج غلاف حقيبة المادة والذي  يشتمل على اسم المادة التدريبية والبرنامج والقطاع واسم معد الحقيبة والمراجع العلمي ومن قام بعملية تطوير الحقيبةصورة من دليل البرنامج المعتمد</li>
                        </ul>
                        <h4>القسم الثاني (خطة المادة): </h4>
                        <p>يقدم هذا القسم المادة التدريبية مقسمة الى اجزاء مساوية لعدد وحداتها ويفصل كل وحدة عن التي تليها ورقة تحمل اسم الوحدة التالية.ويتكون محتوى جزء الوحدة التدريبية من العناصر التالية :</p>
                        <ul>
                            <li>نموذج الوحدة التدريبية والذي يشتمل على اسم الوحدة التدريبية وعدد ساعاتها وهدفها السلوكي وموضوعاتها</li>
                            <li>الجلسات التدريبية ،تعكس الجلسات التدريبية لكل وحدة الانشطة التدريبية اللازمة لتحقيق اهداف الجلسة ضمن اطار زمني محدد يستغرق 50 او 100 دقيقة .وتشمل الجلسة التدريبية على التالي:
                                <ul>
                                    <li>رقم الجلسة</li>
                                    <li>الوقت الذي تستغرقه الجلسة التدريبية</li>
                                    <li>أهداف الجلسة التدريبية</li>
                                    <li>موضوعات الجلسة التدريبية</li>
                                    <li>النشاطات التدريبية الاساسية للجلسة (يتم هنا ذكر النشاطات الرئيسة التي يتوقعها المتدرب ،اما تفاصيل اجراءات التنفيذ فيتم وضعها في دليل تنفيذ الحقيبة التدريبية</li>
                                </ul>
                            </li>
                        </ul>

                        <h4>القسم الثالث(المادة العلمية والتطبيقات): ويحتوي هذا الجزء على العناصر التالية:</h4>
                        <ul>
                            <li>مادة علمية في شكل تعريفات مختصرة في شكل تعريفات للمصطلحات المرتبطة بموضوعات الوحدة التدريبية أو تحديد للمراحل والخطوات التي يتطلب تنفيذالتطبيقات الالمام بها .</li>
                            <li>التطبيقات التدريبية والادوات الضرورية لتنفيذها</li>
                        </ul>
                        <h4> القسم الرابع( التقييم):</h4>
                       <p>في هذاالجزء يمكن ارفاق نسخة من ادوات قياس اكتساب المهارات والمعارف لاستخدام المتدرب او الاكتفاء بذكر نوع التقييم ودرجاته لكل وحدة تدريبية اما التقييمات التي يفضل المدرب الاحتفاظ بها حتى وقت التقييم فترفق بدليل التنفيذ ويراعى اهمية ارتباط التقييمات باهداف الوحدة التدريبية . كما يراعى توزيع درجات التقييم حسب وزن الوحدة التدريبية بحيث يكون مجموع التقييمات لجميع الوحدات معادل للدرجة الكلية للمادة التدريبية والتي تعادل 100 درجة.</p>
                        <h4>القسم الخامس ( المراجع) :</h4>
                        <p>يجتوي هذا الجزء على قائمة بالقراءات الخارجية المتعلقة بالوحدة التدريبية والمراجع الاساسية المستخدمة وارقام تصنيفها والناشر وتاريخ النشر وارقام الصفحات التي تتعلق بالموضوع وذلك لاغراض التوثيق العلمي ومساعدة المتدرب على الرجوع الى المصادر الرئيسة للمادة العلمية.</p>
                </div>
                <div class="tab-pane Tap-Big fade bg-white" id="After" role="tabpanel" aria-labelledby="After">
                    <ul>
                        <li>اعرف نفسك</li>
                        <li>الفرق بين المعرفة والمعلومة</li>
                        <li>التفكير المتميِّز</li>
                        <li>ايجابيات التفكير المتميز</li>
                        <li>التفكير المتميز</li>
                        <li>القواعد الأساسية للتفكير</li>
                        <li>التفكير كمهارة</li>
                        <li>التفكير الواقعي</li>
                        <li>نتائج التفكير</li>
                        <li>الإستفادة من سلبية التفكير</li>
                        <li>شمولية التفكير</li>
                        <li>استراتيجية التفكير</li>
                        <li>التفكير التأملي</li>
                        <li>وضع سيناريوهات للتفكير</li>
                        <li>الإيجابية في التفكير المشترك مع الأخرين</li>
                        <li>التفكير الإبتكاري</li>
                        <li>التفكير المستقبلي</li>
                        <li>تسويق الذات</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
</div>
